@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using OneSound.Feature.PageContent
@using OneSound.Foundation.SitecoreHelperExtensions
  
<p class="dropcap mb-1">@Html.Sitecore().Field(Templates.BodyCopy.Fields.BodyCopy)</p> 