<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
      <!--   UNCOMMENT AND MODIFY AS NEEDED!
        <configuration name="OneSound.Feature.Artist" description="OneSound.Feature.Artist" dependencies="Foundation.Serialization" extends="Helix.Feature">
          <predicate>
            <include name="OneSound.Feature.Artist.Some.Core.Items" database="core" path="/sitecore/path/here/has/to/changed"/>
          </predicate> 
        </configuration>
        -->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
